
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is => 10/16px. 1rem = 10px;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-large) {
    font-size: 50%; // 8/16 = 50%
  }
}

body {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

h2, h3 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
}
